

    .centered{ /* Use when you just need something centered */
        margin: 0 auto;
    }


    .vcard-centered{
        margin: 0 auto;
        border: solid;
        max-width: 900px;
    }
 
    	


