
/* General */
    .body_override{
        background-color: #E8E8E8;
        min-width: 100%;
    }
    ul{ list-style: none;}
    h4{ font-size: 15px; }
    .centered{ /* Use when you just need something centered */
        margin: 0 auto;
    }
    .container{
        /*border: solid;*/
        max-width: 900px;
        background-color: #fff;
        padding-bottom: 10px;
        padding-top: 10px;
    }


/* Social Media Icons */
    .icon_all{
        width: 32px;
        height: 32px;
        fill: #3B5998;
    }

/* Navigation */
    .nav_container_frank{
        max-width: 900px;
        margin: 0 auto;
        color: #ffffff;
    }


/* Home */
    .social_bar{
        max-width: 900px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: right;
    }
    .id_image{
        width: 153px;
        height: 186px;
        margin: 10px;
        margin-right: 0px;
        margin-left: 20px;
        background-color: #fff;
    }
    .vcard-centered{
        margin: 0 auto;
        border: solid;
        max-width: 900px;
        background-color: #FDC750;
        color: #fff;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .short_info{

    }
    .contact_details{
        margin-top:25px;
        list-style: none;
        color: #A87F09;
    }
    .contact_details label{
    
    }
    .contact_details span{
        float: right;
        margin-right: 30px;
    }

 
/* Collapsed Sections */

    /* Profile - About */
        #collapse_profile{
            max-width: 900px;
            margin: 0 auto;
            margin-top: -10px;
            background-color: #fff;
        }
    /* Resume Section */
        #collapse_resume{
            max-width: 900px;
            max-height: 100%;
            margin: 0 auto;
            background-color: #fff;
        }
        .resume_unit p{
            font-size: 12px;
        }
        .skills  li h4{
            font-size: 15px;            
        }



    /* Portfolio */
        #collapse_portfolio{
            max-width: 900px;
            margin: 0 auto;
            margin-top: -10px;
            background-color: #fff;
        }
        .thumbnail{
            margin:10px;
        }
        .thumbnail h4{
            font-size: 15px;
            text-align: center;
        }
        .thumbnail p{
            font-size: 12px;
            text-align: center;
            color: red;
            margin-top: -5px;
        }

    /* Contact */

        #collapse_contact{
            max-width: 900px;
            margin: 0 auto;
            margin-top: -10px;
            border: solid;
            background-color: #fff;
        }


/* Fancy CSS */
	/* Shadow Effect */
	.box h3{
  text-align:center;
    position:relative;
    top:80px;
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
} 
	.effect5{
	  position: relative;
	}
	.effect5:before, .effect5:after{
	  z-index: -1;
	  position: absolute;
	  content: "";
	  bottom: 25px;
	  left: 10px;
	  width: 50%;
	  top: 80%;
	  max-width:300px;
	  background: #777;
	  -webkit-box-shadow: 0 35px 20px #777;
	  -moz-box-shadow: 0 35px 20px #777;
	  box-shadow: 0 35px 20px #777;
	  -webkit-transform: rotate(-8deg);
	  -moz-transform: rotate(-8deg);
	  -o-transform: rotate(-8deg);
	  -ms-transform: rotate(-8deg);
	  transform: rotate(-8deg);
	}
	.effect5:after{
	  -webkit-transform: rotate(8deg);
	  -moz-transform: rotate(8deg);
	  -o-transform: rotate(8deg);
	  -ms-transform: rotate(8deg);
	  transform: rotate(8deg);
	  right: 10px;
	  left: auto;
	}
	
/* Branch - New Menu */

/* Clearing floats */
		.cf:before,
		.cf:after {
		    content: " ";
		    display: table;
		}

		.cf:after {
		    clear: both;
		}

		.cf {
		    *zoom: 1;
		}

		/* Mini reset, no margins, paddings or bullets */
		.menu,
		.submenu {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		/* Main level */
		.menu {			
			margin: 50px auto;
			width: 800px;
			/* http://www.red-team-design.com/horizontal-centering-using-css-fit-content-value */
			width: -moz-fit-content;
			width: -webkit-fit-content;
			width: fit-content;	
		}

		.menu > li {
			background: #34495e;
			float: left;
			position: relative;
			transform: skewX(25deg);
		}

		.menu a {
			display: block;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			font-family: Arial, Helvetica;
			font-size: 14px;
		}		

		.menu li:hover {
			background: #e74c3c;
		}		

		.menu > li > a {
			transform: skewX(-25deg);
			padding: 1em 2em;
		}

		/* Dropdown */
		.submenu {
			position: absolute;
			width: 200px;
			left: 50%; margin-left: -100px;
			transform: skewX(-25deg);
			transform-origin: left top;
		}

		.submenu li {
			background-color: #34495e;
			position: relative;
			overflow: hidden;		
		}						

		.submenu > li > a {
			padding: 1em 2em;			
		}

		.submenu > li::after {
			content: '';
			position: absolute;
			top: -125%;
			height: 100%;
			width: 100%;			
			box-shadow: 0 0 50px rgba(0, 0, 0, .9);			
		}		

		/* Odd stuff */
		.submenu > li:nth-child(odd){
			transform: skewX(-25deg) translateX(0);
		}

		.submenu > li:nth-child(odd) > a {
			transform: skewX(25deg);
		}

		.submenu > li:nth-child(odd)::after {
			right: -50%;
			transform: skewX(-25deg) rotate(3deg);
		}				

		/* Even stuff */
		.submenu > li:nth-child(even){
			transform: skewX(25deg) translateX(0);
		}

		.submenu > li:nth-child(even) > a {
			transform: skewX(-25deg);
		}

		.submenu > li:nth-child(even)::after {
			left: -50%;
			transform: skewX(25deg) rotate(3deg);
		}

		/* Show dropdown */
		.submenu,
		.submenu li {
			opacity: 0;
			visibility: hidden;			
		}

		.submenu li {
			transition: .2s ease transform;
		}

		.menu > li:hover .submenu,
		.menu > li:hover .submenu li {
			opacity: 1;
			visibility: visible;
		}		

		.menu > li:hover .submenu li:nth-child(even){
			transform: skewX(25deg) translateX(15px);			
		}

		.menu > li:hover .submenu li:nth-child(odd){
			transform: skewX(-25deg) translateX(-15px);			
		}

        /* Demo only */
        #about {
            margin: 50px 0 0 0;
            color: #444;
            font-family: Arial, Helvetica;
            text-align: center;
        }
        
        #about a {
            color: #777;
        }