
/* General */
    .body_override{
        background-color: #E8E8E8;
        min-width: 100%;
    }
    ul{ list-style: none;}
    h4{ font-size: 15px; }
    .centered{ /* Use when you just need something centered */
        margin: 0 auto;
    }
    .container{
        /*border: solid;*/
        max-width: 900px;
        background-color: #fff;
        padding-bottom: 10px;
        padding-top: 10px;
    }


/* Social Media Icons */
    .icon_all{
        width: 32px;
        height: 32px;
        fill: #3B5998;
    }

/* Navigation */
    .nav_container_frank{
        max-width: 900px;
        margin: 0 auto;
        color: #ffffff;
    }


/* Home */
    .social_bar{
        max-width: 900px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: right;
    }
    .id_image{
        width: 153px;
        height: 186px;
        margin: 10px;
        margin-right: 0px;
        margin-left: 20px;
        background-color: #fff;
    }
    .vcard-centered{
        margin: 0 auto;
        border: solid;
        max-width: 900px;
        background-color: #FDC750;
        color: #fff;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .short_info{

    }
    .contact_details{
        margin-top:25px;
        list-style: none;
        color: #A87F09;
    }
    .contact_details label{
    
    }
    .contact_details span{
        float: right;
        margin-right: 30px;
    }

 
/* Collapsed Sections */

    /* Profile - About */
        #collapse_profile{
            max-width: 900px;
            margin: 0 auto;
            margin-top: -10px;
            background-color: #fff;
        }
    /* Resume Section */
        #collapse_resume{
            max-width: 900px;
            max-height: 100%;
            margin: 0 auto;
            background-color: #fff;
        }
        .resume_unit p{
            font-size: 12px;
        }
        .skills  li h4{
            font-size: 15px;            
        }



    /* Portfolio */
        #collapse_portfolio{
            max-width: 900px;
            margin: 0 auto;
            margin-top: -10px;
            background-color: #fff;
        }
        .thumbnail{
            margin:10px;
        }
        .thumbnail h4{
            font-size: 15px;
            text-align: center;
        }
        .thumbnail p{
            font-size: 12px;
            text-align: center;
            color: red;
            margin-top: -5px;
        }

    /* Contact */

        #collapse_contact{
            max-width: 900px;
            margin: 0 auto;
            margin-top: -10px;
            border: solid;
            background-color: #fff;
        }


